
    <GridLayout rows="auto *" columns="*" exampleTitle toggleNavButton>
        <!-- >> userprofile-user-feed-images-html -->
        <GridLayout row="0" col="0" rows="80 auto auto auto" class="p-l-30 p-r-30">
            <Image row="0" src="res://icon" borderRadius="10" width="80" height="80" class=" m-t-5"></Image>
            <Label row="1" text="NativeScript" class="h3 text-center" textWrap="true"></Label>
            <Label row="2" text="Cross-platform framework" class="h4 text-center" textWrap="true"></Label>
            <Button row="3" text="Follow" (tap)="followTap()" class=" btn btn-outline btn-rounded-sm btn-active"></Button>
        </GridLayout>
        <GridLayout row="1" col="0">
            <TabView class="tab-view">
                <GridLayout *tabItem="{title: 'Countries'}">
                    <ListView class="list-group" [items]="countries" (itemTap)="onItemTapFirstList($event)" separatorColor="white">
                        <template let-country="item">
                            <GridLayout rows="* auto" columns="*" class="list-group-item" style="border:1;">
                                <Image row="0" col="0" [src]="country.imageSrc"></Image>
                                <StackLayout row="1" col="0" backgroundColor="white" class="list-group-item">
                                    <Label class="list-group-item-heading" [text]="country.name"></Label>
                                </StackLayout>
                            </GridLayout>
                        </template>
                    </ListView>
                </GridLayout>
                <GridLayout *tabItem="{title: 'With continents'}">
                    <ListView class="list-group" [items]="countries" (itemTap)="onItemTapSecondList($event)" separatorColor="white">
                        <template let-country="item">
                            <GridLayout rows="* auto" columns="*" class="list-group-item" style="border:1;">
                                <Image row="0" col="0" [src]="country.imageSrc"></Image>
                                <StackLayout row="1" col="0" backgroundColor="white" class="list-group-item">
                                    <Label class="list-group-item-heading" [text]="country.name"></Label>
                                    <Label class="list-group-item-text" [text]="'Continent: '+country.continent"></Label>
                                </StackLayout>
                            </GridLayout>
                        </template>
                    </ListView>
                </GridLayout>
            </TabView>
        </GridLayout>
        <!-- << userprofile-user-feed-images-html -->
    </GridLayout>
