Label, TextField {
    font-size: 15;
    font-family: sans-serif;
    color: #0099CC;
    padding: 8;
    margin: 3;
    text-align: center;
}

.result {
    font-size: 18;
    font-family: sans-serif;
    color: white;
    padding: 8;
    margin: 3; 
    text-align: center;
    vertical-align: center;
    horizontal-align: center;
}