/* >> web-view-basic-css */
.icon{
    font-family: 'IcoMoon-Free';
    vertical-align: center;
    margin: 6;
}

/*WebView {
    border-color: lightgray; 
    border-width: 0.5;
}*/
/* << web-view-basic-css */

/*.border-gridLayout {
    border-color: lightgray; 
    border-width: 0.5;
    border-radius: 2;
}*/