<StackLayout exampleTitle toggleNavButton>
  <StackLayout >
    <!-- >> grid-layout-html -->
    <GridLayout columns="*,*,*" rows="*,*,*,*,*">
      <Button text="1" style="background-color: #0099CC; margin: 5;"></Button>
      <Button text="2" col="1" style="background-color: #FFFF66; margin: 5;"></Button>
      <Button text="3" col="2" rowSpan="2" style="background-color: #AA0078; margin: 5;"></Button>
      <Button text="4" row="1" rowSpan="2" colSpan="2" style="background-color: #8C489F; margin: 5;"></Button>
      <Button text="5" row="2" col="2" style="background-color: #CCFFFF; margin: 5;"></Button>
      <Button text="6" row="3" colSpan="3" style="background-color: #0099CC; margin: 5;"></Button>
    </GridLayout>
    <!-- << grid-layout-html -->
  </StackLayout>
</StackLayout>