<GridLayout sdkExampleTitle sdkToggleNavButton>
	<!-- >> android-tabs-position-ng-html -->
	<TabView androidTabsPosition="bottom"  >
		<StackLayout *tabItem="{title: 'First Tab', iconSource: 'res://icon'}">
			<Label text="First Tab" textWrap="true" class="m-15 h2 text-left" color="blue"></Label>
		</StackLayout>
		<StackLayout *tabItem="{title: 'Second Tab', iconSource: 'res://icon'}">
			<Label text="Second Tab" textWrap="true" class="m-15 h2 text-left" color="blue"></Label>
		</StackLayout>
	</TabView>
	<!-- << android-tabs-position-ng-html -->
</GridLayout>
