/* >> style-via-css */
button, label, stack-layout {
    horizontal-align: center;    
}

button {
    font-size: 30;
}

.title {
    font-size: 25;
    margin: 20;
}

.message {
    font-size: 20;
    color: #284848;
    text-align: center;
    margin: 0 20;
} 

#labelStyle{
    background-color: #FFFF66;
}
/* << style-via-css */