
GridLayout {
    margin: 10;
}

.model {
    background-color: whitesmoke;
    color: blue;
    margin: 5;
    padding-left: 10;
    border-width: 1;
    border-color: blue;
    border-radius: 10;
}

.name {
    font-size: 18;
    font-weight: bold;
}

.speed {
    font-size: 14;
    color: dimgray;
}

.title {
    background-color: blue;
    color: whitesmoke;
    margin: 20;
    height: 80;
    border-radius: 20;
    padding: 5;
}

