.model {
    margin: 5;
    padding-left: 10;
    border-width: 1;
    border-color: #0099CC;
    border-radius: 5;
}

.name {
    font-size: 18;
    font-weight: bold;
}

.speed {
    font-size: 14;
    color: dimgray;
}

.title {
    color: #0099CC;
    margin-top: 20;
    margin-bottom: 20;
    height: 80;
    font-size: 25;
}

