<StackLayout sdkExampleTitle sdkToggleNavButton>
    <GridLayout rows="*">
        <StackLayout verticalAlign="center" height="100" class="p-20">
            <!-- >> progress-style-html -->
            <!-- 
                Using backgroundColor (CSS: background-color) & color to change the Progress style 
                Note; backgroundColor will work only on iOS; onAndroid the background will be the color with applied opacity
            -->
            <Progress value="50" maxValue="100" backgroundColor="red" color="green"></Progress>
            <!-- Using the nativescript-theme-core CSS class to change the Progress style -->
            <Progress value="25" maxValue="100" class="progress"></Progress>
            <!-- << progress-style-html -->
        </StackLayout>
    </GridLayout>
</StackLayout>