<StackLayout exampleTitle toggleNavButton>
    <StackLayout  class="m-15">
        <!-- >> button-text-html -->
        <Button class="btn btn-primary" id="button" text="Primary button"></Button>
        <Button class="btn btn-outline" text="Outline button"></Button>
        <Button class="btn btn-rounded-sm" text="Small rounded corners"></Button>
        <Button class="btn btn-rounded-lg" text="Large rounded corners"></Button>
        <Button class="btn btn-active" text="Active button"></Button>
        <!-- << button-text-html -->
    </StackLayout>
</StackLayout>