.cell {
    background-color: #0099CC;
    color: white;
    font-size: 15;
    font-family: sans-serif;
    border-radius: 5;
    margin-left: 10;
    margin-right: 10;
    margin-top: 5;
    padding-left: 20;
    padding-top: 5;
    padding-bottom: 5;
}