<StackLayout  exampleTitle toggleNavButton>
    <StackLayout>
        <!-- >> segmentedbar-show-views -->
        <SegmentedBar class="m-5" #sb [items]="Items" (selectedIndexChange)="onChange(sb.selectedIndex)">
        </SegmentedBar>
        <StackLayout visibility="{{ visibility1 ? 'visible' : 'collapsed' }}">
            <Label [text]="'The new selectedIndex is: ' + selectedIndex" class="m-15 h3 p-5 text-center"></Label>
        </StackLayout>

        <StackLayout visibility="{{ visibility2 ? 'visible' : 'collapsed' }}">
            <Label [text]="'The new selectedIndex is: ' + selectedIndex" class="m-15 h3 p-5 text-center"></Label>
        </StackLayout>

        <StackLayout visibility="{{ visibility3 ? 'visible' : 'collapsed' }}">
            <Label [text]="'The new selectedIndex is: ' + selectedIndex" class="m-15 h3 p-5 text-center"></Label>
        </StackLayout>
        <!-- << segmentedbar-show-views -->
    </StackLayout>
</StackLayout>