/* >> creating-label-css */
Label {
    font-size: 18;
    font-family: sans-serif;
    color: blue;
    border-width: 1;
    border-color: blue;
    border-radius: 5;
    padding: 10;
    margin: 3;
}
/* << creating-label-css */
Button {
    font-size: 18;
    color: white;
    background-color: blue;
}