/* >> button-basic-style */
button, label, stack-layout {
    horizontal-align: center;    
}

.icon {
   font-family: 'icomoon';
}
/* << button-basic-style */

GridLayout {
    padding: 0;
    margin-left: 0;
    margin-top: 10;
    margin-bottom: 10;
}