<StackLayout exampleTitle toggleNavButton >
    <StackLayout class="example-container">

        <!-- >> formatted-string-label-html -->
        <Label>
            <FormattedString>
                <Span text="Label with " ></Span>
                <Span text="FormattedString " fontAttributes="Bold"></Span>
            </FormattedString>
        </Label>
        <!-- << formatted-string-label-html -->
        <!-- >> formatted-string-second-label-html -->
        <Label>
            <FormattedString>
                <Span text="Words " foregroundColor="#006600" ></Span>
                <Span text="with " foregroundColor="#990000"></Span>
                <Span text="different " foregroundColor="#ffcc00"></Span>
                <Span text="color."></Span>
            </FormattedString>
        </Label>
        <!-- << formatted-string-second-label-html -->
        <!-- >> formatted-string-textfield-html -->
        <TextField>
            <FormattedString>
                <Span text="Formatted " fontSize="16"></Span>
                <Span text="String " fontSize="18"></Span>
                <Span text="TextField" fontSize="22"></Span>
            </FormattedString>
        </TextField>
        <!-- << formatted-string-textfield-html -->
        <!-- >> formatted-string-textview-html -->
        <TextView>
            <FormattedString>
                <Span text="Formatted "></Span>
                <Span text="String " ></Span>
                <Span text="TextView" fontSize="20" foregroundColor="#990000"></Span>
            </FormattedString>
        </TextView>
        <!-- << formatted-string-textview-html -->
        <!-- >> formatted-string-button-html -->
        <Button>
            <FormattedString>
                <Span text="Formatted "></Span>
                <Span text="String " ></Span>
                <Span text="Button" backgroundColor="#0066ff"></Span>
            </FormattedString>
        </Button>
        <!-- << formatted-string-button-html -->
        
        
        
    </StackLayout>
</StackLayout>