<StackLayout sdkExampleTitle sdkToggleNavButton>
    <StackLayout>
    <!-- >> web-events-html -->
        <GridLayout rows="50 50 50 *" columns="* *">
            <Button row="0" col="0" text="Load first url" (tap)="loadFirst()" ></Button>
            <Button row="0" col="1" text="Load second url" (tap)="loadSecond()" ></Button>
            <Button row="1" col="0" colSpan="2" text="Reload page" (tap)="onReload()" ></Button>
            <Label row="2" col="0" colSpan="2" [text]="'Url: ' + webViewSrc" textWrap="true" class="p-12" ></Label>
            
            <WebView #webview row="3" col="0" colSpan="2" (loadStarted)="onLoadStarted($event)" (loadFinished)="onLoadFinished($event)" [src]="webViewSrc" ></WebView>
            <GridLayout class="indicator" visibility="{{ isItemVisible ? 'visible' : 'collapsed' }}" row="0" col="0" rowSpan="4" colSpan="2">
                    <ActivityIndicator width="100" height="100" busy="true"></ActivityIndicator>
            </GridLayout>
        </GridLayout>
        
    <!-- << web-events-html -->
    </StackLayout>
</StackLayout>