<StackLayout  exampleTitle toggleNavButton>
  <ScrollView class="example-container">
    <!-- >> stack-layout-html -->
    <StackLayout orientation="horizontal">
      <Button text="Button 1" backgroundColor="#0099CC" width="100" margin="2"></Button>
      <Button text="Button 2" backgroundColor="#CCFFFF" width="100" margin="2"></Button>
      <Button text="Button 3" backgroundColor="#8C489F" width="100" margin="2"></Button>
    </StackLayout>
    <!-- << stack-layout-html -->
  </ScrollView>
</StackLayout>