<StackLayout  exampleTitle toggleNavButton>
    <StackLayout class="example-container">
        <!-- >> basic-slider-html -->
        <GridLayout rows="auto auto" columns="50 * 50">
            <Label [text]="labeltext" textWrap="true" row="0" colSpan="3"></Label>
            <Label text="&#xe90b;" textWrap="true" row="1" col="0" fontSize="15" class="icon"></Label>
            <Slider #slfirst minValue="10" maxValue="70" (valueChange)="labeltext=slfirst.value" row="1" col="1"></Slider>
            <Label text="&#xe90b;" textWrap="true" row="1" col="2" fontSize="20" class="icon"></Label>
        </GridLayout>

        <GridLayout rows="auto auto" columns="50 * 50">
            <Label text="&#xe901;" [fontSize]="iconFontSize" textWrap="true" row="0" colSpan="3" class="icon"></Label>
            <Label text="min" textWrap="true" row="1" col="0" fontSize="15" class="icon"></Label>
            <Slider #sl minValue="5" maxValue="100" value="sliderValue" (valueChange)="iconFontSize=sl.value" row="1" col="1"></Slider>
            <Label text="max" textWrap="true" row="1" col="2" fontSize="20" class="icon"></Label>
        </GridLayout>
        <!-- << basic-slider-html -->
    </StackLayout>
</StackLayout>