<!-- >> basic-tab-view-html -->
<TabView selectedIndex="0" (selectedIndexChange)="onIndexChanged($event)" sdkExampleTitle sdkToggleNavButton>
	<StackLayout *tabItem="{title: 'NativeScript'}">
		<Label text="NativeScript" class="m-15 h2 text-left" color="blue"></Label>
		<ScrollView>
			<Label [text]="content" textWrap="true" class="m-15"></Label>
		</ScrollView>
	</StackLayout>
	<StackLayout *tabItem="{title: 'Icon'}">
		<Image class="m-t-30 m-b-15" src="res://icon" width="80" height="80"></Image>
		<Label text="NativeScript" textWrap="true" class="h2 m-x-auto" color="blue"></Label>
	</StackLayout>
</TabView>
<!-- << basic-tab-view-html -->