<StackLayout exampleTitle toggleNavButton>
    <GridLayout >
        <!-- >> listview-create-html -->
        <ListView [items]="countries" (itemTap)="onItemTap($event)" rowHeight="44">
            <template let-country="item" let-i="index" let-odd="odd" let-even="even">
                <GridLayout class="item" height="44">
                    <Label [text]="country.name" android:class="label-item"></Label>
                </GridLayout>
            </template>
        </ListView>
        <!-- << listview-create-html -->
    </GridLayout>
</StackLayout>