/* >> switch-style-css */
.firstSwtichStyle{
    background-color: "green";
    color:"red";
}

#secondSwitchStyle{
    background-color: yellowgreen;
}

.thirdSwitchStyle{
    opacity: 0.5;
    background: green;
}
/* << switch-style-css */