<StackLayout exampleTitle toggleNavButton class="example-container">
    <Button text="Animate" (tap)="animate()" width="256"></Button>
    <Button text="Reset" (tap)="reset()" width="256"></Button>
    <AbsoluteLayout width="250" height="250" backgroundColor="LightGray" borderRadius="2">
      <Label id="view1" text="{N}" width="70" height="70" left="0" top="0" style.textAlignment="center" backgroundColor="#0099CC" style.fontSize="30" borderRadius="2"></Label>
      <Label id="view2" text="{N}" width="70" height="70" left="180" top="0" style.textAlignment="center" backgroundColor="#CCFFFF" style.fontSize="30" borderRadius="2"></Label>
      <Label id="view3" text="{N}" width="70" height="70" left="180" top="180" style.textAlignment="center" backgroundColor="#8C489F" style.fontSize="30" borderRadius="2"></Label>
      <Label id="view4" text="{N}" width="70" height="70" left="0" top="180" style.textAlignment="center" backgroundColor="#AA0078" style.fontSize="30" borderRadius="2"></Label>
    </AbsoluteLayout>
</StackLayout>