<StackLayout exampleTitle toggleNavButton>
    <StackLayout class="example-container"> 
        <!-- >> scroll-view-horizontal-html -->
        <ScrollView orientation="horizontal">
            <GridLayout  columns="auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto">
                <Label width="50" height="50" class="label1" col="0" text="Title 1"></Label>
                <Label width="50" height="50" class="label2" col="1" text="Title 2"></Label>
                <Label width="50" height="50" class="label3" col="2" text="Title 3"></Label>
                <Label width="50" height="50" class="label1" col="3" text="Title 4"></Label>
                <Label width="50" height="50" class="label2" col="4" text="Title 5"></Label>
                <Label width="50" height="50" class="label3" col="5" text="Title 6"></Label>
                <Label width="50" height="50" class="label1" col="6" text="Title 7"></Label>
                <Label width="50" height="50" class="label2" col="7" text="Title 8"></Label>
                <Label width="50" height="50" class="label3" col="8" text="Title 9"></Label>
                <Label width="50" height="50" class="label1" col="9" text="Title 10"></Label>
                <Label width="50" height="50" class="label2" col="10" text="Title 10"></Label>
                <Label width="50" height="50" class="label3" col="11" text="Title 11"></Label>
                <Label width="50" height="50" class="label1" col="12" text="Title 12"></Label>
                <Label width="50" height="50" class="label2" col="13" text="Title 13"></Label>
                <Label width="50" height="50" class="label3" col="14" text="Title 14"></Label>
                <Label width="50" height="50" class="label1" col="15" text="Title 15"></Label>
            </GridLayout>
        </ScrollView>
        <!-- << scroll-view-horizontal-html -->
    </StackLayout>
</StackLayout>