<GridLayout sdkExampleTitle sdkToggleNavButton>
    <!-- >> creating-datepicker-html -->
    <DatePicker year="1980" month="4" day="20"
                [minDate]="minDate" [maxDate]="maxDate"
                (dateChange)="onDateChanged($event)" 
                (dayChange)="onDayChanged($event)" 
                (monthChange)="onMonthChanged($event)" 
                (yearChange)="onYearChanged($event)" 
                (loaded)="onDatePickerLoaded($event)"
                verticalAlignment="center">
    </DatePicker>
    <!-- << creating-datepicker-html -->
</GridLayout>