/* >> listview-customize-css */
.third {
    background-color: #0099CC;
    color: whitesmoke;
    text-align: left;
    vertical-align: center;
}

.header {
    background-color: #8C489F;
    color: whitesmoke;
    border-radius: 3;
}

.footer {
    background-color: #8C489F;
    color: whitesmoke;
    border-radius: 3;
}

.item {
    text-align: left;
    vertical-align: center;
}
/* << listview-customize-css */