/*.stacklayoutStyle{
    width: 100;
    height: 100;
    margin: 15;
    vertical-align:center;
    text-align: center;
}


.secondStacklayoutStyle label{
    font-size: 24;
    border-color: lightgray;
    border-width: 1;
    border-radius: 2;
}*/
.layout{
    text-align: center;
}
/*.layoutStyle gridlayout{
    horizontal-align:center;
}
GridLayout{
    width:100%;
}*/

Button{

    color:white;
}
TextField{
    font-size: 24px;
}