/* >> css-load-background */
#layoutBackgroundImageURL{
    background-image: url("https://docs.nativescript.org/img/cli-getting-started/angular/chapter0/NativeScript_logo.png");
    background-repeat: no-repeat;
    height: 120;
    margin: 15;
}

#layoutBackgroundImageFromFolder{
    background-image: url("~/images/logo.png");
    background-repeat: no-repeat;
    height: 60;
    margin: 15;
}


#layoutBackgroundImageFromRes{
    background-image: url("res://logo_white_bg");
    background-repeat: no-repeat;
    height: 100;
    margin: 15;
}
/* << css-load-background */