<ScrollView sdkExampleTitle sdkToggleNavButton>
    <StackLayout (loaded)="onStackLoaded($event)" clasd="m-15">
        <!-- >> creating-image-html -->
        <!-- Load image from App_Resources -->
        <Label text="Image loaded from resources" textWrap="true" class="h3 p-l-15 p-r-15 p-t-15 text-left"></Label>
        <Image src="res://logo_white_bg" stretch="none" class="img-rounded p-l-15 p-r-15 p-t-15"></Image>
        <!-- Load image from app/images folder -->
        <Label text="Image loaded from custom folder" textWrap="true" class="h3 p-l-15 p-r-15 p-t-15 text-left"></Label>
        <Image src="~/images/logo.png" stretch="none" class="img-rounded p-l-15 p-r-15 p-t-15"></Image>
        <!-- Load image from url -->
        <Label text="Image loaded from URL" textWrap="true" class="h3 p-l-15 p-r-15 p-t-15 text-left"></Label>
        <Image src="https://docs.nativescript.org/img/cli-getting-started/angular/chapter0/NativeScript_logo.png"
            stretch="none" class="img-rounded p-l-15 p-r-15 p-t-15"></Image>
        <!-- << creating-image-html -->
        <!-- >> load-image-css -->
        <!-- Load backgroundImage from url using CSS-->
        <Label text="Image loaded from URL using CSS" textWrap="true" class="h3 p-l-15 p-r-15 p-t-15 text-left"></Label>
        <StackLayout id="layoutBackgroundImageURL"></StackLayout>
        <!-- Load backgroundImage from app/images folder using CSS-->
        <Label text="Image loaded from custom folder using CSS" textWrap="true" class="h3 p-l-15 p-r-15 p-t-15 text-left"></Label>
        <StackLayout id="layoutBackgroundImageFromFolder"></StackLayout>
        <!-- Load backgroundImage from App_Resources using CSS -->
        <Label text="Image loaded from resources using CSS" backgroundRepeat="no-repeat"
            textWrap="true" class="h3 p-l-15 p-r-15 p-t-15 text-left"></Label>
        <StackLayout id="layoutBackgroundImageFromRes"></StackLayout>
        <!-- << load-image-css -->
    </StackLayout>
</ScrollView>