<!-- >> action-bar-action-items-html -->
<ActionBar android:title="Title">
  <ActionItem text="left item" ios.position="left"></ActionItem>
  <ActionItem text="Item" ios.position="right" android.position="popup"></ActionItem>
  <!-- >> action-bar-custom-action-item-html -->
  <ActionItem>
    <Label text="Custom item" color="#8C489F" margin="5"></Label>
  </ActionItem>
  <!-- << action-bar-custom-action-item-html -->
  <!-- >> action-bar-platform-specific-icons-html -->
  <ActionItem ios.systemIcon="12" android.systemIcon="ic_menu_search"></ActionItem>
  <!-- << action-bar-platform-specific-icons-html -->
  <NavigationButton icon="res://ic_arrow_back_black_24dp" (tap)="goBack()"></NavigationButton>
</ActionBar>
<!-- << action-bar-action-items-html -->