<FlexboxLayout flexDirection="column" class="p-15" sdkExampleTitle sdkToggleNavButton>
    <Label class="p-15 m-b-15" text="With our custom directive the grid below will be blue square in iOS and green circle in Android"
        textWrap="true"></Label>
    <!-- >> custom-directive-html -->
    <GridLayout *sdkIfAndroid width="300" height="300" backgroundColor="#a4c639" borderRadius="150"></GridLayout>
    <GridLayout *sdkIfIos width="300" height="300" backgroundColor="#0099CC" borderRadius="2"></GridLayout>
    <!-- << custom-directive-html -->
</FlexboxLayout>