<TabView #tabView class="tab-view" exampleTitle toggleNavButton>
    <GridLayout *tabItem="{title: 'Welcome'}">
    <!-- >> dataentry-wellcome-html -->
        <GridLayout class="p-25" rows="* auto auto " columns="*">
            <StackLayout width="210" height="150" row="0" col="0" class="">
                <Image class="p-15" src="res://icon"></Image>
            </StackLayout>
            <Button row="1" col="0" class="btn btn-outline btn-active" marginLeft="0" marginRight="0" autocapitalizationType="allCharacters" text="login" (tap)="onLoginTap()"></Button>
            <Button row="2" col="0" class="btn btn-primary btn-active" marginLeft="0" marginRight="0" autocapitalizationType="allCharacters" text="sign up" (tap)="inSignUpTap()"></Button>
        </GridLayout>
    <!-- << dataentry-wellcome-html -->
    </GridLayout>
    <GridLayout *tabItem="{title: 'Login'}">
    <!-- >> dataentry-login-html -->
        <StackLayout class="form">
            <StackLayout class="input-field">
                <Label text="Email" class="label" textWrap="true"></Label>
                <TextField #email hint="Email" text="" class="input input-border" autocorrect="false"></TextField>
            </StackLayout>
            <GridLayout rows="auto" columns="*, 40">
                <StackLayout col="0" class="input-field">
                    <Label text="Password" class="label" textWrap="true"></Label>
                    <TextField #password hint="Password" text="" [secure]="secureproperty" class="input input-border"autocorrect="false"></TextField>   
                </StackLayout>
                <Label col="1" text="&#xe9ce;" (tap)="show()" class=" m-20 icon" backgroundColor="red" verticalAligment="center"></Label>
            </GridLayout>   
            <Button text="Sign in" (tap)="signin(email.text, password.text)" class="btn btn-primary btn-active" ></Button>
            <Button text="Forgot password?" (tap)="forgottenpassword()" class="btn btn-outline btn-active" ></Button>
            <Button text="Sign up" (tap)="signup()" class="btn btn-primary btn-active" ></Button>
        </StackLayout>
    <!-- << dataentry-login-html -->
    </GridLayout>
</TabView>
