<StackLayout sdkExampleTitle sdkToggleNavButton>
    <!-- >> button-text-html -->
    <Button text="Primary button" (tap)="onButtonTap($event)" (loaded)="onFirstButtonLoaded($event)" class="btn btn-primary btn-active" ></Button>
    <Button text="Outline button" (tap)="onButtonTap($event)"class="btn btn-outline btn-active"></Button>
    <Button text="Small rounded corners" (tap)="onButtonTap($event)" class="btn btn-primary btn-rounded-sm btn-active"></Button>
    <Button text="Large rounded corners" (tap)="onButtonTap($event)" class="btn btn-primary btn-rounded-lg btn-active"></Button>
    <!-- << button-text-html -->
</StackLayout>