<StackLayout sdkExampleTitle sdkToggleNavButton>
	<StackLayout class="example-container">
		<!-- >> switch-styling-html -->
		<GridLayout rows="auto auto auto" columns="* auto" class="m-5">
			<Label class="h3 m-15" [text]="sw1.checked" textWrap="true" row="0" col="0"></Label>
			<Switch class="m-15" #sw1 class="firstSwitchStyle" checked="true" row="0" col="1"></Switch>
			<Label class="h3 m-15" [text]="sw2.checked" textWrap="true" row="1" col="0"></Label>
			<Switch class="m-15" #sw2 class="secondSwitchStyle" checked="false" (checkedChange)="secondSwitchState=sw2.checked" row="1"
				col="1"></Switch>
			<Label class="h3 m-15" [text]="sw3.checked" textWrap="true" row="2" col="0"></Label>
			<Switch class="m-15" #sw3 class="thirdSwitchStyle" checked="true" (checkedChange)="thirdSwitchState=sw3.checked" row="2"
				col="1"></Switch>
		</GridLayout>
		<!-- << switch-styling-html -->
	</StackLayout>
</StackLayout>