StackLayout {
    padding: 10;
}

Label {
    horizontal-align: center;
    font-size: 18;
}

GridLayout {
    margin: 30;
    width: 200;
    height: 200;
    background-color: #0099CC;
    border-width: 1;
    border-color: white;
    border-radius: 20;  
}

Image {
    horizontal-align: center;
    vertical-align: center;
}