<StackLayout sdkExampleTitle sdkToggleNavButton>
    <Label class="h3 m-15 text-center" text="Tracing specific categories of events example." textWrap="true"></Label>
    <Button class="btn btn-primary btn-rounded-sm btn-active" text="Enable tracing" (tap)="enableTracing()"></Button>
    <Button class="btn btn-primary btn-rounded-sm btn-active" text="Disable tracing" (tap)="disableTracing()"></Button>
    <Button class="btn btn-primary btn-rounded-sm btn-active" text="isCategorySet (Debug category)" (tap)="checkIsDebugCategorySet()"></Button>
    <Button class="btn btn-primary btn-rounded-sm btn-active" text="isCategorySet (VisualTreeEvents category)" (tap)="checkIsDebugVisualTreeEventsSet()"></Button>
</StackLayout>
