<StackLayout  exampleTitle toggleNavButton>
    <StackLayout class="example-container">
        <Label text="Tracing specific categories of events example." textWrap="true"></Label>

        <Button text="Enable tracing" (tap)="enableTracing()"></Button>
        <Button text="Disenable tracing" (tap)="disableTracing()"></Button>
        <Button text="Check is Debug category set" (tap)="checkIsDebugCategorySet()"></Button>
        <Button text="Check is Style category set" (tap)="checkIsStyleCategorySet()"></Button>
    </StackLayout>
</StackLayout>