<GridLayout rows="*">
    <!-- >> listview-customize-code -->
    <ListView [items]="dataItems" (setupItemView)="onSetupItemView($event)">
        <template let-dataitem="item" let-i="index" let-third="third" let-header="header" let-footer="footer">
            <StackLayout [class.third]="third" [class.header]="header" [class.footer]="footer">
                <Label [text]='dataitem.name' textWrap="false"></Label>
            </StackLayout>
        </template>
    </ListView>
    <!-- << listview-customize-code -->
</GridLayout>