StackLayout {
    background-color: whitesmoke;
    color: #0099CC;
    padding: 5;
    vertical-align: center;
    font-size: 15;
}

/* >> listview-customize-css */
.third {
    background-color: #0099CC;
    color: whitesmoke;
    padding: 5;
}

.header {
    background-color: #8C489F;
    color: whitesmoke;
    margin-top: 20;
    margin-bottom: 20;
    height: 30;
    border-radius: 5;
}

.footer {
    background-color: #8C489F;
    color: whitesmoke;
    margin-top: 20;
    margin-bottom: 20;
    height: 30;
    border-radius: 5;
}

.item {
    text-align: left;
    vertical-align: center;
    font-size: 16;
    color:#404040;
    padding-left: 15;
}
/* << listview-customize-css */