/* >> tabs-theming-css-ng */
Tabs.bottom-nav {
    background-color: orangered;
    color: gold;
    font-size: 24;
}

TabStripItem.tabstripitem-active {
    background-color: teal;
}

TabStripItem.tabstripitem-active:active {
    background-color: yellowgreen;
} 

TabContentItem.first-tabcontent {
    background-color: seashell;
    color: olive;
}
TabContentItem.second-tabcontent {
    background-color: slategray;
    color: aquamarine;
}
TabContentItem.third-tabcontent {
    background-color: blueviolet;
    color: antiquewhite;
}
Tabs TabStrip{
    highlight-color: red;
}
/* << tabs-theming-css-ng */