
<StackLayout class="m-16" horizontalAlignment="center">
    <Label text="Icon Fonts demonstration" fontSize="18"></Label>

    <!-- >> icon-font-html-def -->
    <!-- Using fa-regular-400.ttf -->
    <Label text="&#xf019;" class="far"></Label>

    <!-- Using fa-brands-400.ttf -->
    <Label text="&#xf39e;" class="fab"></Label>

    <!-- Using fa-solid-900.ttf with FormattedString -->
    <Label class="fas" textWrap="true">
        <FormattedString>
            <Span text="&#xf053;" fontAttributes="Bold"></Span>
        </FormattedString>
    </Label>
    
    <!-- Using IcoMoon-Free.ttf -->
    <Label text="&#xe904;" class="ico"></Label>
    <!-- << icon-font-html-def -->

    <!-- >> icon-font-html-images -->
    <!-- 
        In case, when the stretch property is set to aspectFit or aspectFill
        the font-sizde will be disreagarderd and the image will take the vailable space
        assigned through width/height or through its parent size

        Setting the stretch property to none will allow using the font-size property
    -->
    <Image src="font://&#xf51e;" stretch="none" class="fas"></Image>
    <!-- << icon-font-html-images -->
</StackLayout>
