<ScrollView exampleTitle class="example-container">
  <!-- >> grid-layout-html -->
  <GridLayout id="gridLayout" columns="85, *, auto" rows="auto, *" width="250" height="250" >
        <Label text="col:0/row:0" col="0" class="label1"></Label>
        <Label text="col:1/row:0" col="1" class="label2"></Label>
        <Label text="col:2/row:0" col="2" class="label1"></Label>
        // by default column and row are set to 0
        <Label text="colSpan:3/row:1" row="1" colSpan="3" class="label3"></Label>
   </GridLayout>
   <!-- << grid-layout-html -->
</ScrollView>