<StackLayout exampleTitle toggleNavButton>
	<StackLayout class="form">
		<!-- >> textview-html -->
		<Button [text]="buttonText" class="btn btn-primary btn-active" (tap)="disableTextView()"></Button>
		<Button text="Show text" class="btn btn-outline btn-active" (tap)="showText()"></Button>
		<StackLayout class="input-field">
			<TextView hint="Enter text" class="input input-border" returnKeyType="done" (returnPress)="submit($event)" [(ngModel)]="tvtext"
				[editable]="editState"></TextView>
		</StackLayout>
		<!-- << textview-html -->
	</StackLayout>
</StackLayout>