<StackLayout exampleTitle toggleNavButton>
<!-- >> using-ngif-platform-html -->
    <AbsoluteLayout class="example-container">
        <Label text="using *ngIf directive" textWrap="true" top="50" right="80" left="20"></Label>
        <TextView text="Visible only for Android" *ngIf="isAndroid" top="100" right="80" bottom="140" left="20" borderRadius="2"></TextView>
        <TextView text="Visible only for iOS" *ngIf="isIos" top="100" right="80" bottom="140" left="20" borderRadius="2"></TextView>
    </AbsoluteLayout>
<!-- << using-ngif-platform-html -->
</StackLayout>