<StackLayout sdkExampleTitle sdkToggleNavButton>
    <GridLayout rows="auto *">
        <!-- >> clear-text-search-bar-html -->
        <SearchBar row="0" hint="Search for a country and press enter" (clear)="onClear($event)" (submit)="onSubmit($event)"></SearchBar>
        <ListView row="1" [items]="myItems" class="list-group">
            <ng-template let-item="item">
                <GridLayout class="item" class="list-group-item">
                    <Label [text]="item.name" class="list-group-item-heading"></Label>
                </GridLayout>
            </ng-template>
        </ListView>
        <!-- << clear-text-search-bar-html -->
    </GridLayout>
</StackLayout>