<ScrollView sdkExampleTitle sdkToggleNavButton>
    <GridLayout rows="auto, auto, auto, auto, auto, auto, auto, auto, auto" columns="*, 2*">
        <Label class="p-15" row="0" col="0" text="Host" textWrap="true"></Label>
        <Label class="p-15" row="1" col="0" text="User-Agent" textWrap="true"></Label>
        <Label class="p-15" row="2" col="0" text="Origin" textWrap="true"></Label>
        <Label class="p-15" row="3" col="0" text="Url" textWrap="true"></Label>
        <Label class="p-15" row="4" col="0" text="Status code" textWrap="true"></Label>
        <Label class="p-15" row="5" col="0" text="Status text" textWrap="true"></Label>
        <Label class="p-15" row="6" col="0" text="Date" textWrap="true"></Label>
        <Label class="p-15" row="7" col="0" text="ContentType" textWrap="true"></Label>
        <Label class="p-15" row="8" col="0" text="Server" textWrap="true"></Label>

        <Label class="p-15" row="0" col="1" [text]="host" textWrap="true"></Label>
        <Label class="p-15" row="1" col="1" [text]="userAgent" textWrap="true"></Label>
        <Label class="p-15" row="2" col="1" [text]="origin" textWrap="true"></Label>
        <Label class="p-15" row="3" col="1" [text]="url" textWrap="true"></Label>
        <Label class="p-15" row="4" col="1" [text]="status" textWrap="true"></Label>
        <Label class="p-15" row="5" col="1" [text]="statusText" textWrap="true"></Label>
        <Label class="p-15" row="6" col="1" [text]="dateHeader" textWrap="true"></Label>
        <Label class="p-15" row="7" col="1" [text]="typeHeader" textWrap="true"></Label>
        <Label class="p-15" row="8" col="1" [text]="serverHeader" textWrap="true"></Label>
    </GridLayout>
</ScrollView>