<TabView #tabView class="tab-view" exampleTitle toggleNavButton>

    <GridLayout *tabItem="{title: 'Grouping'}">
        <ListView class="list-group" [items]="countries" (itemTap)="onItemTap($event)" separatorColor="white">
            <template let-country="item">
                <StackLayout class="list-group-item">
                    <Label [text]="country.name"></Label>
                </StackLayout>
            </template>
        </ListView>
    </GridLayout>

    <GridLayout *tabItem="{title: 'Dividers'}">
        <ListView class="list-group" [items]="countries" (itemTap)="onItemTap($event)" separatorColor="red">
            <template let-country="item">
                <StackLayout class="list-group-item">
                    <Label [text]="country.name"></Label>
                </StackLayout>
            </template>
        </ListView>
    </GridLayout>

    <GridLayout *tabItem="{title: 'Thumbnails'}">
        <ListView class="list-group" [items]="countries">
            <template let-country="item">
                <GridLayout class="list-group-item" rows="*" columns="auto, *">
                    <Image row="0" col="0" [src]="country.imageSrc" class="thumb img-circle"></Image>
                    <Label row="0" col="1" [text]="country.name"></Label>
                </GridLayout>
            </template>
        </ListView>
    </GridLayout>
</TabView>


