stacklayout{
    text-align: center;
}
.layoutStyle gridlayout{
     horizontal-align:center;
}
.infoLabel{
    font-size: 15;
    font-family: sans-serif;
    color: #0099CC;
    border-width: 1;
    border-color: #0099CC;
    border-radius: 2;
    padding: 5;
    margin: 1;
    text-align: center;
}