<StackLayout exampleTitle class="example-container">
    <!-- >> textfield-binding-html -->
    <Label [text]="firstLabel" textWrap="true"></Label>
    <TextField hint="Enter text" autocorrect="false" #tx (textChange)="firstLabel=tx.text"></TextField>


    <TextField hint="Enter some text and click the button" autocorrect="false" #secondtx returnKeyType="done" (returnPress)="submit(secondtx.text)"></TextField>
    <Button text="Button" (tap)="showAlert(secondtx.text)"></Button>
    <!-- << textfield-binding-html -->
</StackLayout>