<TabView #tabView class="tab-view" exampleTitle toggleNavButton>

    <GridLayout *tabItem="{title: 'Basic list'}">
        <!-- >> ext-listview-basic-html -->
        <ListView class="list-group" [items]="countries" (itemTap)="onItemTapFirstList($event)" separatorColor="white">
            <template let-country="item">
                <StackLayout class="list-group-item">
                    <Label class="list-group-item-heading" [text]="country.name"></Label>
                </StackLayout>
            </template>
        </ListView>
        <!-- << ext-listview-basic-html -->
    </GridLayout>

    <GridLayout *tabItem="{title: 'Dividers'}">
        <!-- >> ext-listview-borders-html -->
        <ListView class="list-group" [items]="countries" (itemTap)="onItemTapSecondList($event)" separatorColor="gray">
            <template let-country="item">
                <StackLayout class="list-group-item">
                    <Label class="list-group-item-heading" [text]="country.name"></Label>
                </StackLayout>
            </template>
        </ListView>
        <!-- << ext-listview-borders-html -->
    </GridLayout>

    <GridLayout *tabItem="{title: 'Thumbnails'}">
        <!-- >> ext-listview-thumbs-html -->
        <ListView class="list-group" [items]="countries" (itemTap)="onItemTapThirdList($event)" >
            <template let-country="item">
                <StackLayout orientation="horizontal" class="list-group-item">
                    <Image [src]="country.imageSrc" class="thumb img-circle"></Image>
                    <Label [text]="country.name" class="list-group-item-heading" verticalAlignment="center"></Label>
                </StackLayout>
            </template>
        </ListView>
        <!-- << ext-listview-thumbs-html -->
    </GridLayout>
</TabView>


