@import url("~/platform.css");

.title {
    font-size: 16;
    margin: 20;
}

.message {
    font-size: 20;
    color: #284848;
    text-align: center;
    margin: 0 20;
}

.label1 {
    font-size: 15;
    background-color: #0099CC;
    margin: 2;
}

.label2 {
    font-size: 15;
    background-color: #CCFFFF;
    margin: 2;
}

.label3 {
    font-size: 15;
    background-color: #8C489F;
    margin: 2;
}

.item {
    text-align: left;
    vertical-align: center;
    font-size: 16;
    color:#404040;
    padding-left: 15;
}

.label-item {
    vertical-align: center;
}

SearchBar {
    font-size: 13;
    padding: 15;
}

.text-field-font-serif{
   font-family: 'RobotoSlab-Regular';
   font-size: 20;
}
.text-field-font-sans-serif{
   font-family: 'Roboto-Medium', sans-serif;
   font-size: 20;
}

.text-field-font-monospace{
   font-family: 'RobotoMono-Medium', monospace;
   font-size: 20;
}