.nav-button {
    /*color: rgb(171, 184, 254);*/
    color: white;
    background-color: rgb(60, 89, 253);
    font-size: 16;
    font-family: sans-serif;
    border-radius: 45;
    margin-top: 10;
    margin-left: 5;
    margin-right: 5;  
}

.nav-button-container {
    padding: 10;
}

.title {
    font-size: 30;
    margin: 20;
}

.message {
    font-size: 20;
    color: #284848;
    text-align: center;
    margin: 0 20;
}

.label1 {
    font-size: 15;
    background-color: #0099CC;
    margin: 2;
}

.label2 {
    font-size: 15;
    background-color: #CCFFFF;
    margin: 2;
}

.label3 {
    font-size: 15;
    background-color: #8C489F;
    margin: 2;
}

.cell {
    height: 44;
    text-align: center;
    font-size: 20;
    color:#0077AF;
}