<ScrollView exampleTitle>
    <StackLayout class="nav-button-container">
        <Button class="nav-button" text="Action Bar" [nsRouterLink]="['/actionBarExamplesComponent']"></Button>
        <Button class="nav-button" text="Activity Indicator" [nsRouterLink]="['/activityIndicatorExamplesComponent']"></Button>
        <Button class="nav-button" text="Animation" [nsRouterLink]="['/animationsExamplesComponent']"></Button>
        <Button class="nav-button" text="Border" [nsRouterLink]="['/borderExamplesComponent']"></Button>
        <Button class="nav-button" text="Button" [nsRouterLink]="['/buttonExamplesComponent']" ></Button>

        <Button class="nav-button" text="Date Picker" [nsRouterLink]="['/datePickerExamplesComponent']"></Button>
        <Button class="nav-button" text="Dialogs" [nsRouterLink]="['/dialogsExamplesComponent']"></Button>
        <Button class="nav-button" text="Layouts" [nsRouterLink]="['/layoutsExamplesComponent']"></Button>

        <Button class="nav-button" text="Time Picker" [nsRouterLink]="['/timePickerExamplesComponent']" ></Button>

        <Button class="nav-button" text="Label" [nsRouterLink]="['/labelExamplesComponent']"></Button> 
        <Button class="nav-button" text="ListPicker" [nsRouterLink]="['/listPickerExamplesComponent']"></Button> 
        <Button class="nav-button" text="ListView" [nsRouterLink]="['/listViewExamplesComponent']"></Button> 
        <Button class="nav-button" text="Progress" [nsRouterLink]="['/progressExamplesComponent']"></Button> 
        <Button class="nav-button" text="*ngFor Directive" [nsRouterLink]="['/ngForExampleComponent']"></Button> 

    </StackLayout>
</ScrollView>