<ScrollView exampleTitle>
        <StackLayout class="nav-button-container">
            <Button class="nav-button" text="Button" [nsRouterLink]="['/buttonExamplesComponent']" ></Button>
            
            <Button class="nav-button" text="ListPicker" [nsRouterLink]="['/listPickerExamplesComponent']"></Button> 
            <Button class="nav-button" text="ListView" [nsRouterLink]="['/listViewExamplesComponent']"></Button> 
            <Button class="nav-button" text="Progress" [nsRouterLink]="['/progressExamplesComponent']"></Button> 
            <Button class="nav-button" text="*ngFor Directive" [nsRouterLink]="['/ngForExampleComponent']"></Button> 

        </StackLayout>
</ScrollView>

