.example-container {    
    font-size: 15;
    padding:15
}

Page Button {
    background-color: #30BCFF;
    color: #FFFFFF;
    margin-top: 10;
    margin-bottom: 10;
    height: 38;
    font-size: 15;
    border-radius: 2;
}

 Button {
    font-size: 15;
}

TextField, TextView {
    border-color: lightgray;
    border-width: 1;
    border-radius: 2;
    margin-top: 10;
    height: 38;
    font-size: 15;
    padding-left: 8;
}

ListView {
    padding: 15;
    font-size: 15;   
}