<StackLayout exampleTitle toggleNavButton>
    <GridLayout rows="auto, auto">
        <!-- >> using-ngswitch-html -->
        <GridLayout row="0" columns="*, *, *" class="p-15">
            <Button class="btn btn-primary" text=" Blue " (tap)="onBlue()" col="0" ></Button>
            <Button class="btn btn-primary" text=" Purple " (tap)="onPurple()" col="1" ></Button>
            <Button class="btn btn-primary" text=" Yellow " (tap)="onYellow()" col="2"></Button>
        </GridLayout>

        <GridLayout row="1" [ngSwitch]="color" class="p-15 m-t-15" height="280" borderRadius="2">
            <GridLayout *ngSwitchCase="'purple'" backgroundColor="#8C489F" ></GridLayout>
            <GridLayout *ngSwitchCase="'blue'" backgroundColor="#0077AF" ></GridLayout>
            <GridLayout *ngSwitchCase="'yellow'" backgroundColor="#FFFF66" ></GridLayout>
            <GridLayout *ngSwitchDefault backgroundColor="gray" ></GridLayout>
        </GridLayout>
        <!-- << using-ngswitch-html -->
    </GridLayout>
</StackLayout>
