<StackLayout exampleTitle toggleNavButton>
<!-- >> using-ngif-platform-html -->
    <AbsoluteLayout>
        <Label class="h3 p-15"text="using *ngIf directive" textWrap="true" top="50" right="80" left="20"></Label>
        <TextView class="h2 p-15" text="Text visible only for Android" *ngIf="isAndroid" top="100" right="80" bottom="140" left="20"></TextView>
        <TextView class="h2 p-15" text="Text visible only for iOS" *ngIf="isIos" top="100" right="80" bottom="140" left="20"></TextView>
    </AbsoluteLayout>
<!-- << using-ngif-platform-html -->
</StackLayout>