<StackLayout class="form" exampleTitle toggleNavButton>
    <!-- >> formatted-string-label-html -->
    <Label class="h3 p-15 m-15 text-left">
        <FormattedString>
            <Span text="Words " foregroundColor="#006600" ></Span>
            <Span text="with " foregroundColor="#990000" fontAttributes="Bold"></Span>
            <Span text="different " foregroundColor="#ffcc00"></Span>
            <Span text="color."></Span>
        </FormattedString>
    </Label>
    <!-- << formatted-string-label-html -->
    <!-- >> formatted-string-textfield-html -->
    <TextField class="h3 p-15 m-15 text-left input input-border">
        <FormattedString>
            <Span text="Formatted " fontSize="16"></Span>
            <Span text="String " fontSize="18"></Span>
            <Span text="TextField" fontSize="22"></Span>
        </FormattedString>
    </TextField>
    <!-- << formatted-string-textfield-html -->
    <!-- >> formatted-string-textview-html -->
    <TextView class="h3 p-15 m-15 text-left input input-border">
        <FormattedString>
            <Span text="Formatted "></Span>
            <Span text="String "></Span>
            <Span text="TextView" fontSize="20" foregroundColor="#990000"></Span>
        </FormattedString>
    </TextView>
    <!-- << formatted-string-textview-html -->
    <!-- >> formatted-string-button-html -->
    <Button class="btn btn-primary btn-active">
        <FormattedString>
            <Span text="Formatted "></Span>
            <Span text="String " ></Span>
            <Span text="Button" backgroundColor="#0066ff"></Span>
        </FormattedString>
    </Button>
    <!-- << formatted-string-button-html -->
</StackLayout>