<StackLayout exampleTitle toggleNavButton>
    <StackLayout class="form">
        <!-- >> unless-directive-html -->
        <TextView class="h3 p-15" text="The custom *myUnless directive will execute the block if the condition is False (the opposite of *ngIf)" editable="false" textWrap="true" height="65"></TextView>  

        <TextField class="input-field p-15 m-15" hint="Enter your age to check access " [(ngModel)]="age"></TextField>
        <Button class="btn btn-primary" text="Check Access" (tap)="onTap()"></Button>

        <GridLayout *myUnless="condition" width="250" height="250" borderRadius="125" backgroundColor="green">
            <Label class="h3 p-15" text="Access granted!" textWrap="true" horizontalAlignment="center" verticalAlignment="center"></Label>
        </GridLayout>
        <GridLayout *myUnless="!condition" width="250" height="250" borderRadius="125" backgroundColor="red">
            <Label class="h3 p-15" text="Access not granted!" textWrap="true" horizontalAlignment="center" verticalAlignment="center"></Label>
        </GridLayout>
        <!-- << unless-directive-html -->
    </StackLayout>
</StackLayout>
