<StackLayout sdkExampleTitle sdkToggleNavButton class="example-container">
    <GridLayout rows="auto auto" columns="* *" class="m-5">
        <Label class="h3 m-15" [text]="firstSwitchState" textWrap="true" row="0" col="0"></Label>
        <Switch class="m-15" checked="false" (checkedChange)="onFirstChecked($event)" row="0" col="1"></Switch>
        <Label class="h3 m-15" [text]="secondSwitchState" textWrap="true" row="1" col="0"></Label>
        <!-- >> switch-binding-html -->
        <Switch checked="true" (checkedChange)="onCheckedChange($event)" class="m-15" row="1" col="1"></Switch>
        <!-- << switch-binding-html -->
    </GridLayout>
</StackLayout>