<StackLayout sdkExampleTitle sdkToggleNavButton>
    <StackLayout class="form">
        <!-- >> textfield-binding-html -->
        <StackLayout class="input-field">
            <Label class="label" [text]="'The first input is: ' + firstTx.text" textWrap="true" marginBottom="25"></Label>
            <TextField #firstTx class="input input-border"
                hint="Enter text" autocorrect="false"
                (textChange)="firstTx"></TextField>
        </StackLayout>
        <StackLayout class="input-field">
            <TextField #secondTx class="input input-border"
                hint="Enter some text and click the button" autocorrect="false" returnKeyType="done"
                (returnPress)="submit(secondTx.text)"></TextField>
        </StackLayout>
        <Button class="btn btn-primary btn-active" text="Get the second input" (tap)="showAlert(secondTx.text)"></Button>
        <!-- << textfield-binding-html -->
    </StackLayout>
</StackLayout>