<StackLayout class="form" sdkExampleTitle sdkToggleNavButton>
    <!-- >> textfield-binding-html -->
    <StackLayout class="input-field">
        <TextField hint="Enter text" autocorrect="false" (textChange)="onTextChange($event)" (returnPress)="onReturn($event)" class="input input-border"></TextField>
            <Label class="h3 text-center" [text]="'The first input is: ' + firstTx" textWrap="true" marginBottom="25"></Label>
    </StackLayout>

    <StackLayout class="input-field">
        <TextField #secondTx hint="Enter some text and click the button" autocorrect="false" returnKeyType="done" (returnPress)="submit(secondTx.text)"
            class="input input-border"></TextField>
    </StackLayout>

    <Button text="Get the second input" (tap)="showAlert(secondTx.text)" class="btn btn-primary btn-active"></Button>
    <!-- << textfield-binding-html -->
</StackLayout>