<GridLayout class="p-15" rows="*" columns="*" sdkExampleTitle sdkToggleNavButton>
    <!-- >> icon-font-html-def -->
    <ScrollView>
        <GridLayout rows="auto auto auto auto auto auto auto" columns="">
            <StackLayout class="border_style" row="0">
                <Label color="#66ccff" class="m-5 icon" fontSize="34" textWrap="true">
                    <FormattedString>
                        <Span text="Icon code: "></Span>
                        <Span text="&#xe903;" fontAttributes="Bold"></Span>
                    </FormattedString>
                </Label>
                <Label color="#FF6666" class="m-5" fontSize="18" textWrap="true" text="Icon code: e903" class="icon"></Label>
            </StackLayout>
            <StackLayout class="border_style" row="1">
                <Label color="#66ccff" class="m-5 icon" fontSize="34" textWrap="true">
                    <FormattedString>
                        <Span text="Icon code: "></Span>
                        <Span text="&#xe908;" fontAttributes="Bold"></Span>
                    </FormattedString>
                </Label>
                <Label color="#FF6666" class="m-5" fontSize="18" textWrap="true" text="Icon code: e908" class="icon"></Label>
            </StackLayout>
            <StackLayout class="border_style" row="2">
                <Label color="#66ccff" class="m-5 icon" fontSize="34" textWrap="true">
                    <FormattedString>
                        <Span text="Icon code: "></Span>
                        <Span text="&#xe90b;" fontAttributes="Bold"></Span>
                    </FormattedString>
                </Label>
                <Label color="#FF6666" class="m-5" fontSize="18" textWrap="true" text="Icon code: e90b" class="icon"></Label>
            </StackLayout>
            <StackLayout class="border_style" row="3">
                <Label color="#66ccff" class="m-5 icon" fontSize="34" textWrap="true">
                    <FormattedString>
                        <Span text="Icon code: "></Span>
                        <Span text="&#xe90c;" fontAttributes="Bold"></Span>
                    </FormattedString>
                </Label>
                <Label color="#FF6666" class="m-5" fontSize="18" textWrap="true" text="Icon code: e90c" class="icon"></Label>
            </StackLayout>
            <StackLayout class="border_style" row="4">
                <Label color="#66ccff" class="m-5 icon" fontSize="34" textWrap="true">
                    <FormattedString>
                        <Span text="Icon code: "></Span>
                        <Span text="&#xe914;" fontAttributes="Bold"></Span>
                    </FormattedString>
                </Label>
                <Label color="#FF6666" class="m-5" fontSize="18" textWrap="true" text="Icon code: e914" class="icon"></Label>
            </StackLayout>
            <StackLayout class="border_style" row="5">
                <Label color="#66ccff" class="m-5 icon" fontSize="34" textWrap="true">
                    <FormattedString>
                        <Span text="Icon code: "></Span>
                        <Span text="&#xe915;" fontAttributes="Bold"></Span>
                    </FormattedString>
                </Label>
                <Label color="#FF6666" class="m-5" fontSize="18" textWrap="true" text="Icon code: e915" class="icon"></Label>
            </StackLayout>
            <StackLayout class="border_style" row="6">
                <Label color="#66ccff" class="m-5 icon" fontSize="34" textWrap="true">
                    <FormattedString>
                        <Span text="Icon code: "></Span>
                        <Span text="&#xe916;" fontAttributes="Bold"></Span>
                    </FormattedString>
                </Label>
                <Label color="#FF6666" class="m-5" fontSize="18" textWrap="true" text="Icon code: e916" class="icon"></Label>
            </StackLayout>
        </GridLayout>
    </ScrollView>
    <!-- << icon-font-html-def -->
</GridLayout>
