
<StackLayout class="m-16">
    <Label text="Icon Fonts demonstration" class="h3"></Label>

    <!-- >> icon-font-xml-def -->
    <!-- Using fa-regular-400.ttf -->
    <Label text="&#xf019;" class="far"></Label>

    <!-- Using fa-brands-400.ttf -->
    <Label text="&#xf39e;" class="fab"></Label>

    <!-- Using fa-solid-900.ttf with FormattedString -->
    <Label class="fas" textWrap="true">
        <FormattedString>
            <Span text="&#xf053;" fontAttributes="Bold"></Span>
        </FormattedString>
    </Label>
    
    <!-- Using IcoMoon-Free.ttf -->
    <Label text="&#xe904;" class="ico"></Label>
    <!-- << icon-font-xml-def -->
</StackLayout>
