<StackLayout exampleTitle toggleNavButton>
    <Label class="h3 p-15 text-left" text="Apply touch gesture inside the box"></Label>
    <!-- >> touch-html -->
    <GridLayout class="bg-primary p-15 m-15" width="200" height="200" (touch)="onTouch($event)"></GridLayout>
    <Label class="h3 p-l-15 p-r-15 p-t-15 text-left" [text]="'Box touched at X: ' + coordX" textWrap="true"></Label>
    <Label class="h3 p-l-15 p-r-15 p-t-15 text-left" [text]="'Box touched at Y: ' + coordY" textWrap="true"></Label>
    <!-- << touch-html -->
</StackLayout>
