<StackLayout exampleTitle toggleNavButton>
    <StackLayout>
        <Label class="h3 p-15" text="With using target check from applicaiton module, the grid below will be blue square in iOS and purple circle in Android" textWrap="true"></Label>  
        <!-- >> app-check-target-html -->
        <GridLayout width="300" height="300" borderRadius="150" backgroundColor="#8C489F" [visibility]="isItemVisible ? 'visible' : 'collapsed'" ></GridLayout>
        <GridLayout width="300" height="300" borderRadius="2" backgroundColor="#0099CC" [visibility]="!isItemVisible ? 'visible' : 'collapsed'" ></GridLayout>
        <!-- << app-check-target-html -->
    </StackLayout>
</StackLayout>