<StackLayout  exampleTitle toggleNavButton>
    <GridLayout rows="auto *">
        <!-- >> clear-text-search-bar-html -->
        <SearchBar row="0" #sb hint="Search for a country and press enter" (clear)="onClear()" [text]="searchPhrase" (submit)="onSubmit(sb.text)"></SearchBar>
        <ListView row="1" [items]="myItems" rowHeight="44" marginTop="20" padding="15">
            <template let-item="item">
                <GridLayout class="item">
                    <Label [text]="item.name" android:class="label-item"></Label>
                </GridLayout>
            </template>
        </ListView>
        <!-- << clear-text-search-bar-html -->
    </GridLayout>
</StackLayout>