<GridLayout rows="*" sdkExampleTitle sdkToggleNavButton>
	<!-- >> listview-styling-html -->
	<!-- 
		The @nativescript/theme provides ListView CSS classes (`list-group` & `list-group-item`) for setting recommended paddings & margins for ListView items.
		These class names adds a bit of spacing and the theme’s color scheme. 
	-->
	<ListView [items]="items" class="list-group" 
			  backgroundColor="red" separatorColor="blue">
		<ng-template let-item="item">
			<GridLayout height="60">
				<Label [text]="item.name" class="list-group-item" color="white"></Label>
			</GridLayout>
		</ng-template>
	</ListView>
	<!-- << listview-styling-html -->
</GridLayout>


