 <StackLayout exampleTitle toggleNavButton>
  <ScrollView class="example-container">
  <!-- >> dock-layout-html -->
    <DockLayout stretchLastChild="true" >
      <Button dock="left" text="left" style="background-color: #0099CC; margin: 5;"></Button>
      <Button dock="right" text="right" style="background-color: #8C489F; margin: 5;"></Button> 
      <Button dock="bottom" text="bottom" style="background-color: #AA0078; margin: 5;"></Button> 
      <Button dock="top" text="top" style="background-color: #B3B3D7; margin: 5;"></Button> 
      <Button text="fill" style="background-color: #CCFFFF; margin: 5;"></Button> 
    </DockLayout>
    <!-- << dock-layout-html -->
  </ScrollView>
</StackLayout>