<GridLayout rows="auto" columns="auto" sdkExampleTitle sdkToggleNavButton>
    <!-- >> formatted-string-button-html -->
    <Button class="-primary p-8">
        <FormattedString>
            <Span text="&#xf007;" class="fas t-18"></Span>
            <Span text=" Different " color="red"></Span>
            <Span text="colors in "></Span>
            <Span text=" Button " backgroundColor="green" color="whitesmoke"></Span>
        </FormattedString>
    </Button>
    <!-- << formatted-string-button-html -->
</GridLayout>