<GridLayout rows="auto, auto" sdkExampleTitle sdkToggleNavButton>
        <!-- >> using-selected-index-html -->
        <StackLayout row="0">
                <Label class="h3 p-15 text-left" text="Use the slider to change ListPicker's selectedIndex" textWrap="true"></Label>
                <Slider class="slider" #sl [minValue]="0" [maxValue]="pokemons.length - 1" [(ngModel)]="index"></Slider>
        </StackLayout>
        <ListPicker class="p-15" #picker row="1" class="picker" [items]="pokemons" [selectedIndex]="index" (selectedIndexChange)="selectedIndexChanged(picker)">
        </ListPicker>
        <!-- << using-selected-index-html -->
</GridLayout>
