<StackLayout exampleTitle toggleNavButton>
    <GridLayout rows="*">
        <!-- >> listview-customize-html -->
        <ListView [items]="dataItems" (setupItemView)="onSetupItemView($event)" rowHeight="44">
            <template let-dataitem="item" let-i="index" let-third="third" let-header="header" let-footer="footer">
                <GridLayout [class.third]="third" [class.header]="header" [class.footer]="footer" class="item" height="44" ios:padding="15" >
                    <Label [text]="dataitem.name" android:class="label-item"></Label>
                </GridLayout>
            </template>
        </ListView>
        <!-- << listview-customize-html -->
    </GridLayout>
</StackLayout>