ListView {
    font-size: 15;
    padding: 10;
}

/* >> listview-customize-css */
.third {
    background-color: #0099CC;
    color: whitesmoke;
    text-align: left;
    vertical-align: center;
    margin-bottom: 6;
}

.header {
    background-color: #8C489F;
    color: whitesmoke;
    margin-top: 20;
    margin-bottom: 20;
    height: 44;
    border-radius: 3;
}

.footer {
    background-color: #8C489F;
    color: whitesmoke;
    margin-top: 20;
    margin-bottom: 20;
    height: 44;
    border-radius: 3;
    padding-left: 15;
}

.item {
    text-align: left;
    vertical-align: center;
}
/* << listview-customize-css */