<!-- >> userprofile-settings-menu-html -->
<GridLayout rows="auto *" columns="*" sdkExampleTitle sdkToggleNavButton>
    <GridLayout row="0" col="0" rows="* *" backgroundColor="#adadad">
        <StackLayout row="0" backgroundColor="#30bcff">
        </StackLayout>
        <StackLayout row="0" rowSpan="2" class="p-t-15">
            <StackLayout class="m-20 p-l-15 p-r-15">
                <Image src="res://icon" height="80" width="80" class="img-circle" borderWidth="1" borderColor="white"></Image>
                <Label text="NativeScript" class="h2 text-center" textWrap="true"></Label>
                <Label text="Cross-platform framework" class="h4 text-center" textWrap="true"></Label>
            </StackLayout>
        </StackLayout>
    </GridLayout>
    <GridLayout row="1" col="0">
        <ListView class="list-group" [items]="countries" (itemTap)="onItemTap($event)" separatorColor="#adadad">
            <ng-template let-country="item">
                <StackLayout class="list-group-item">
                    <Label [text]="country.name"></Label>
                </StackLayout>
            </ng-template>
        </ListView>
    </GridLayout>
</GridLayout>
<!-- << userprofile-settings-menu-html -->