<StackLayout exampleTitle toggleNavButton>
    <StackLayout class="example-container">
        <!-- >> scroll-event-html -->
        <StackLayout borderRadius="2" backgroundColor="#0099CC" marginBottom="20" height="50px" >
            <Label [text]="status" class="header-label"></Label>
        </StackLayout>
        <ScrollView (scroll)="onscroll()">
            <GridLayout rows="auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto">
                <Label height="50" row="0" text="Title 1"></Label>
                <Label height="50" row="1" text="Title 2"></Label>
                <Label height="50" row="2" text="Title 3"></Label>
                <Label height="50" row="3" text="Title 4"></Label>
                <Label height="50" row="4" text="Title 5"></Label>
                <Label height="50" row="5" text="Title 6"></Label>
                <Label height="50" row="6" text="Title 7"></Label>
                <Label height="50" row="7" text="Title 8"></Label>
                <Label height="50" row="8" text="Title 9"></Label>
                <Label height="50" row="9" text="Title 10"></Label>
                <Label height="50" row="10" text="Title 10"></Label>
                <Label height="50" row="11" text="Title 11"></Label>
                <Label height="50" row="12" text="Title 12"></Label>
                <Label height="50" row="13" text="Title 13"></Label>
                <Label height="50" row="14" text="Title 14"></Label>
                <Label height="50" row="15" text="Title 15"></Label>
            </GridLayout>
        </ScrollView>
        <!-- << scroll-event-html -->
    </StackLayout>
</StackLayout>