<!-- BottomNavigation supports the CSS properties `background-color` and `color` -->
<Tabs class="bottom-nav">

    <!-- TabStripItem supports the CSS pseudo selector :active (see theming-page.css) -->
    <TabStrip>
        <TabStripItem>
            <Label text="Home"></Label>
            <Image src="font://&#xf015;" class="fas"></Image>
        </TabStripItem>
        <TabStripItem class="special">
            <Label text="Account"></Label>
            <Image src="font://&#xf007;" class="fas"></Image>
        </TabStripItem>
        <TabStripItem class="special">
            <Label text="Search"></Label>
            <Image src="font://&#xf00e;" class="fas"></Image>
        </TabStripItem>
    </TabStrip>

    <!-- TabContentItem supports the CSS property `color` -->
    <TabContentItem class="first-tabcontent">
        <GridLayout>
            <Label text="Home Page" horizontalAlignment="center" verticalAlignment="middle"></Label>
        </GridLayout>
    </TabContentItem>
    <TabContentItem class="second-tabcontent">
        <GridLayout>
            <Label text="Account Page" horizontalAlignment="center" verticalAlignment="middle"></Label>
        </GridLayout>
    </TabContentItem>
    <TabContentItem class="third-tabcontent">
        <GridLayout>
            <Label text="Search Page" horizontalAlignment="center" verticalAlignment="middle"></Label>
        </GridLayout>
    </TabContentItem>

</Tabs>