<GridLayout sdkExampleTitle sdkToggleNavButton>
	<!-- >> android-offscreen-tab-limit-ng-html -->
	<TabView id="tabViewContainer" androidOffscreenTabLimit="0">
		<StackLayout *tabItem="{title: 'First Tab', iconSource: 'res://icon'}">
			<Label text="First Tab" textWrap="true" class="m-15 h2 text-left" color="blue"></Label>
		</StackLayout>
		<StackLayout *tabItem="{title: 'Second Tab', iconSource: 'res://icon'}">
			<Label text="Second Tab" textWrap="true" class="m-15 h2 text-left" color="blue"></Label>
		</StackLayout>
	</TabView>
	<!-- << android-offscreen-tab-limit-ng-html -->
</GridLayout>
