<ScrollView exampleTitle>
    <StackLayout class="nav-button-container">
      <Button class="nav-button" text="Creating ListView" [nsRouterLink]="['/creatingListViewExampleComponent']"></Button>
      <Button class="nav-button" text="Customizing ListView" [nsRouterLink]="['/customizingListViewExampleComponent']"></Button> 
      <!--<Button class="nav-button" text="Using Item Template" [nsRouterLink]="['/usingItemTemplateExampleComponent']"></Button> 
      <Button class="nav-button" text="Using Async Pipe" [nsRouterLink]="['/usingAsyncPipeExampleComponent']"></Button>         -->
    </StackLayout>  
</ScrollView>
