<StackLayout  exampleTitle toggleNavButton>
    <ScrollView class="example-container">
        <!-- >> absolute-layout-html -->
        <AbsoluteLayout>
            <Button text="Left: 10, Top: 5" left="10" top="5" height="42" width="230" backgroundColor="#0099CC"></Button>
            <Button text="Left: 15, Top: 50" left="15" top="50" height="190" width="160" backgroundColor="#C3C3E5"></Button>
            <Button text="Left: 185, Top: 50" left="185" top="50" height="90" width="170" backgroundColor="#CCFFFF"></Button>
            <Button text="Left: 70, Top: 200" left="70" top="200" height="50" width="230" backgroundColor="#8C489F"></Button>
        </AbsoluteLayout>
        <!-- << absolute-layout-html -->
    </ScrollView>
</StackLayout>