<FlexboxLayout flexDirection="column" sdkExampleTitle sdkToggleNavButton>
    <Label text="using *ngIf directive to show platform specific content" textWrap="true" class="h3 p-15"></Label>
    <!-- >> using-ngif-platform-html -->
    <GridLayout *ngIf="isAndroid" width="150" height="300" margin="30" borderRadius="125" backgroundColor="green">
        <Label text="This content is visible only for Android" textWrap="true" verticalAlignment="center" class="p-15"></Label>
    </GridLayout>
    <GridLayout *ngIf="isIos" width="150" height="300" margin="30" borderRadius="125" backgroundColor="green">
        <Label text="This content is visible only for iOS" textWrap="true" verticalAlignment="center" class="p-15"></Label>
    </GridLayout>
    <!-- << using-ngif-platform-html -->
</FlexboxLayout>