<!-- >> bottom-tips-icons-ng -->
<BottomNavigation selectedIndex="1" class="fas font-size">
    <!-- Using icon fonts for each TabStripItem -->
    <TabStrip>
        <TabStripItem title="Home" iconSource="font://&#xf015;"></TabStripItem>
        <TabStripItem title="Account" iconSource="font://&#xf2bd;"></TabStripItem>
        <TabStripItem title="Search" iconSource="font://&#xf002;"></TabStripItem>
    </TabStrip>
    
    <TabContentItem>
        <GridLayout>
            <Label text="Home Page" class="h2 text-center"></Label>
        </GridLayout>
    </TabContentItem>
    <TabContentItem>
        <GridLayout>
            <Label text="Account Page" class="h2 text-center"></Label>
        </GridLayout>
    </TabContentItem>
    <TabContentItem>
        <GridLayout>
            <Label text="Search Page" class="h2 text-center"></Label>
        </GridLayout>
    </TabContentItem>

</BottomNavigation>
<!-- << bottom-tips-icons-ng -->
