<StackLayout exampleTitle toggleNavButton>
    <StackLayout class="example-container">
        <Label text="With our custom directive the grid below will be blue square in iOS and purple circle in Android" textWrap="true" marginBottom="15"></Label>  
        <!-- >> custom-directive-html -->
        <GridLayout *ifAndroid width="300" height="300" borderRadius="150" backgroundColor="#8C489F" ></GridLayout>
        <GridLayout *ifIos width="300" height="300" backgroundColor="#0099CC" borderRadius="2"></GridLayout>
        <!-- << custom-directive-html -->
    </StackLayout>
</StackLayout>