<ScrollView exampleTitle>
    <StackLayout class="nav-button-container">
      <Button class="nav-button" text="Tap" [nsRouterLink]="['/tapGestureExampleComponent']"></Button>
      <Button class="nav-button" text="Double Tap" [nsRouterLink]="['/doubleTapGestureExampleComponent']"></Button>   
      <Button class="nav-button" text="Long Press" [nsRouterLink]="['/longPressGestureExampleComponent']"></Button>   
      <Button class="nav-button" text="Swipe" [nsRouterLink]="['/swipeGestureExampleComponent']"></Button>   
      <Button class="nav-button" text="Pan" [nsRouterLink]="['/panGestureExampleComponent']"></Button>   
      <Button class="nav-button" text="Pinch" [nsRouterLink]="['/pinchGestureExampleComponent']"></Button>   
      <Button class="nav-button" text="Rotation" [nsRouterLink]="['/rotationGestureExampleComponent']"></Button>   
      <Button class="nav-button" text="Touch" [nsRouterLink]="['/touchGestureExampleComponent']"></Button>         
    </StackLayout>  
</ScrollView>