<ScrollView exampleTitle>
   <StackLayout class="nav-button-container">
      <Button class="nav-button" text="Absolute Layout" [nsRouterLink]="['/absoluteLayoutComponent']"></Button>
      <Button class="nav-button" text="Dock Layout" [nsRouterLink]="['/dockLayoutComponent']"></Button>
      <Button class="nav-button" text="Grid Layout" [nsRouterLink]="['/gridLayoutComponent']"></Button> 
      <Button class="nav-button" text="Stack Layout" [nsRouterLink]="['/stackLayoutComponent']"></Button>
      <Button class="nav-button" text="Wrap Layout" [nsRouterLink]="['/wrapLayoutComponent']"></Button>    
   </StackLayout>
</ScrollView>