<StackLayout  exampleTitle toggleNavButton>
    <StackLayout class="example-container">
        <StackLayout class="label-container">
            <Label text="Writing a Custom TraceWriter." textWrap="true"></Label>
        </StackLayout>
        <GridLayout class="border-gridLayout">
            <ListView [items]="customwriter.array" class="list-group">
                <template let-item="item" let-odd="odd" let-even="even">
                  <GridLayout rows="auto auto auto auto" columns="auto *">
                      <Label row="0" col="0" text="Message type: "></Label>
                      <Label row="1" col="0" text="Date: "></Label>
                      <Label row="2" col="0" text="Category: "></Label>
                      <Label row="3" col="0" text="Message: "></Label>

                      <Label row="0" col="1" [text]="item.messageType"></Label>
                      <Label row="1" col="1" [text]="item.date"></Label>
                      <Label row="2" col="1" [text]="item.category"></Label>
                      <Label row="3" col="1" [text]="item.message"></Label>
                    
                  </GridLayout>
                </template>
            </ListView>
        </GridLayout>
    </StackLayout>
</StackLayout>