ListView {
    font-size: 24;
    padding: 10;
}

.odd {
    background-color: blue;
    color: whitesmoke;
    margin: 5;
}

.even {
    background-color: whitesmoke;
    color: blue;
    margin: 5;
}