ListView {
    font-size: 15;
    padding: 10;
}

.odd {
    margin: 5;    
    vertical-align: center;
}

.even {
    color: #0099CC;
    margin: 5;    
    vertical-align: center;
}

.label-item {
    vertical-align: center;
}