<StackLayout sdkExampleTitle sdkToggleNavButton>
    <Label class="h3 p-15 text-left" text="Apply rotation gesture inside the box"></Label>
    <!-- >> rotation-html -->
    <GridLayout class="bg-primary p-15 m-15" width="200" height="200" (rotation)="onRotation($event)"></GridLayout>
    <!-- << rotation-html -->
    <Label class="h3 p-l-15 p-r-15 p-t-15 text-left" [text]="'Rotation angle: ' + angle" textWrap="true"></Label>
    <Label class="h3 p-l-15 p-r-15 p-t-15 text-left" [text]="'Rotation state: ' + state" textWrap="true"></Label>
</StackLayout>