<GridLayout sdkExampleTitle sdkToggleNavButton>
	<!-- >> tabview-icon-font-ng-html -->
	<TabView id="tabViewContainer" class="icon">
		<StackLayout *tabItem="{title: '&#xe913;'}">
			<Label text="First TabView item with Icon Font" textAlignment="center" textWrap="true" class="h2 m-x-auto" color="blue"></Label>
			<Label text="&#xe913;" textWrap="true" class="h2 m-x-auto" color="blue"></Label>
		</StackLayout>
		<StackLayout *tabItem="{title: '&#xe908;'}">
			<Label text="Second TabView item with Icon Font" textAlignment="center" textWrap="true" class="h2 m-x-auto" color="green"></Label>
			<Label text="&#xe908;" textWrap="true" class="h2 m-x-auto" color="green"></Label>
		</StackLayout>
	</TabView>
	<!-- << tabview-icon-font-ng-html -->
</GridLayout>
