<StackLayout exampleTitle toggleNavButton>
    <ScrollView>
        <StackLayout>
            <GridLayout rows="auto, auto, *" columns="*">
                <Label class="p-15 font-weight-bold" row="0" text="Reading from a File" textWrap="true"></Label>
                <Label class="p-l-15 p-r-15 p-b-15" row="1" [text]="'Reading content from : ' + file.path" textWrap="true"></Label>
                <Label class="p-l-15 p-r-15 p-b-15" row="2" [text]="writtenContent" textWrap="true"></Label> 
            </GridLayout>

            <GridLayout rows="auto, auto, auto, *" columns="*">
                <Label class="p-15 font-weight-bold" row="0" text="Reading/writing binary data from/to a File" textWrap="true"></Label>
                <Label class="p-l-15 p-r-15 p-b-15" row="1" text="'Read and use binary data from icon.png" textWrap="true"></Label>
                <Button class="btn btn-primary btn-active" row="2" text="read sync" (tap)="onReadSync()"></Button> 
                <TextView class="p-15" row="3" [text]="binarySource" editable="false"></TextView>
            </GridLayout>
            
            <GridLayout rows="auto, *" columns="*">
                <Label class="p-15 font-weight-bold" row="0" text="Enumerate documents folder content" textWrap="true"></Label>
                <ListView class="list-group" row="1" [items]="folderEntities">
                    <template let-item="item" let-index="index">
                        <GridLayout class="list-group-item" rows="auto, auto, auto" columns="*">
                            <Label row="0" [text]="'File name: ' + item.name" textWrap="true"></Label>
                            <Label row="1" [text]="'File path: ' + item.path" textWrap="true"></Label>
                            <Label row="2" [text]="'Date modified: ' + item.lastModified" textWrap="true"></Label>
                        </GridLayout>
                    </template>
                </ListView>
            </GridLayout>
        </StackLayout>
    </ScrollView>
</StackLayout>