<StackLayout exampleTitle toggleNavButton>
    <StackLayout [visibility]="isItemVisible ? 'visible' : 'collapsed'">
        <Label class="h3 p-15" text="Battery life with Notification Observer"></Label>
        <Label class="p-l-15 p-r-15" [text]=" 'Battery : ' + batteryLife + '%'" textWrap="true"></Label>
    </StackLayout>
    <StackLayout [visibility]="!isItemVisible ? 'visible' : 'collapsed'">
        <Label class="p-15" text="This examle is iOS specific and can be executed only on iOS device!" textWrap="true"></Label>
    </StackLayout>
</StackLayout>