<StackLayout exampleTitle toggleNavButton class="example-container">
    <!-- >> web-view-html -->
    <GridLayout rows="75 *" >
        <GridLayout row="0" rows="*" columns="50 * 50" class="border-gridLayout">
            <Button row="0" col="0" class="icon" text="&#xea44;" (tap)="goBack()"></Button>   
            <TextField id="urlField" #tf row="0" col="1" hint="Enter URL" [(ngModel)]="url"  returnKeyType="done"
                (returnPress)="submit(tf.text)" autocorrect="false"
                autocapitalizationType="none" ></TextField>  
        </GridLayout>
        <WebView row="1" id="wv"  [src]="webviewsrc"></WebView>
    </GridLayout>
   
    <!-- << web-view-html -->
</StackLayout>