<ScrollView exampleTitle toggleNavButton class="example-container">
   <!-- >> wrap-layout-html -->
   <WrapLayout orientation="vertical" itemWidth="70" itemHeight="60" width="300" height="300" backgroundColor="#F1F0FF">
        <Label text="Label 1" class="label1" ></Label>
        <Label text="Label 2" class="label2" ></Label>
        <Label text="Label 3" class="label3" ></Label>
        <Label text="Label 4" class="label2" ></Label>
        <Label text="Label 5" class="label3" ></Label>
        <Label text="Label 6" class="label1" ></Label>      
        <Label text="Label 7" class="label2" ></Label>
        <Label text="Label 8" class="label1" ></Label>  
        <Label text="Label 9" class="label1" ></Label>  
        <Label text="Label 10" class="label3" ></Label> 
  </WrapLayout>
  <!-- << wrap-layout-html -->
</ScrollView>