<StackLayout exampleTitle toggleNavButton>
  <ScrollView class="example-container">
    <!-- >> wrap-layout-html -->
    <WrapLayout>
      <Button text="1" width="150" height="100" style="background-color: #0099CC; margin: 5;"></Button>
      <Button text="2" width="100" height="150" style="background-color: #FFFF66; margin: 5;"></Button>
      <Button text="3" width="200" height="120" style="background-color: #8C489F; margin: 5;"></Button>
      <Button text="4" width="100" height="50" style="background-color: #CCFFFF; margin: 5;"></Button>
      <Button text="5" width="250" height="100" style="background-color: #AA0078; margin: 5;"></Button>
    </WrapLayout>
    <!-- << wrap-layout-html -->
  </ScrollView>
</StackLayout>