<StackLayout exampleTitle toggleNavButton>
    <GridLayout >
        <!-- >> listview-create-html -->
        <ListView [items]="countries" class="list-group" (itemTap)="onItemTap($event)">
            <template let-country="item" let-i="index" let-odd="odd" let-even="even">
                <GridLayout class="list-group-item">
                    <Label [text]="country.name"></Label>
                </GridLayout>
            </template>
        </ListView>
        <!-- << listview-create-html -->
    </GridLayout>
</StackLayout>