<StackLayout sdkExampleTitle sdkToggleNavButton>
    <GridLayout>
        <!-- >> listview-create-html -->
        <ListView [items]="countries" (itemTap)="onItemTap($event)" class="list-group">
            <ng-template let-country="item" let-i="index" let-odd="odd" let-even="even">
                <GridLayout class="list-group-item">
                    <Label [text]="country.name"></Label>
                </GridLayout>
            </ng-template>
        </ListView>
        <!-- << listview-create-html -->
    </GridLayout>
</StackLayout>