<StackLayout sdkExampleTitle sdkToggleNavButton class="m-15">
        <!-- >> animation-properties-width-height-html -->
        <GridLayout rows="auto, auto, *">
          <Button row="0" text="Animate height" (tap)="animateHeight()" class="btn btn-primary btn-active" width="80%"></Button>
          <Button row="1" text="Animate width" (tap)="animateWidth()" class="btn btn-primary btn-active" width="80%"></Button>
          <Label row="2" #target text="NativeScript" textWrap="true" marginTop="50"></Label>
        </GridLayout>
          <!-- << animation-properties-width-height-html -->
</StackLayout>