<StackLayout sdkExampleTitle sdkToggleNavButton class="m-15">
    <Button text="Animate" (tap)="animate()" android:width="306" ios:width="300" class="btn btn-primary btn-active m-b-20 m-t-20"></Button>
    <Button text="Reset" (tap)="reset()" android:width="306" ios:width="300" class="btn btn-primary btn-active m-b-20"></Button>
    <AbsoluteLayout class="m-t-20" height="300" width="300" backgroundColor="LightGray" borderRadius="2">
        <Label id="view1" text="{N}" width="100" height="100" left="0" top="0" style.textAlignment="center" backgroundColor="#0099CC"
          style.fontSize="30"  borderRadius="2" color="white" textAlignment="center" class="p-t-35 p-b-35"></Label>
        <Label id="view2" text="{N}" width="100" height="100" left="200" top="0" style.textAlignment="center" backgroundColor="#5F021F"
          style.fontSize="30"  borderRadius="2"color="white" textAlignment="center" class="p-t-35 p-b-35"></Label>
        <Label id="view3" text="{N}" width="100" height="100" left="200" top="200" style.textAlignment="center" backgroundColor="#8C489F"
          style.fontSize="30"  borderRadius="2"color="white" textAlignment="center" class="p-t-35 p-b-35"></Label>
        <Label id="view4" text="{N}" width="100" height="100" left="0" top="200" style.textAlignment="center" backgroundColor="#AA0078"
          style.fontSize="30" borderRadius="2"color="white" textAlignment="center" class="p-t-35 p-b-35"></Label>
    </AbsoluteLayout>
</StackLayout>