<StackLayout sdkExampleTitle sdkToggleNavButton>
	<StackLayout>
		<!-- >> slider-values-xml -->
		<GridLayout class="m-15" rows="auto" columns="50 * 50">
			<Label class="h3" text="10" textWrap="true" row="10" col="0"></Label>
			<Slider #slider1 minValue="10" maxValue="70" [(ngModel)]="sliderValue1" (valueChange)="sliderValue1 = slider1.value" row="0"
			 col="1"></Slider>
			<Label class="h3" text="70" textWrap="true" row="0" col="2"></Label>
		</GridLayout>
		<GridLayout class="m-15" rows="auto" columns="50 * 50">
			<Label class="h3" text="33" textWrap="true" row="0" col="0"></Label>
			<Slider #slider2 minValue="33" maxValue="133" [(ngModel)]="sliderValue2" (valueChange)="sliderValue2 = slider2.value" row="0"
			 col="1"></Slider>
			<Label class="h3" text="133" textWrap="true" row="0" col="2"></Label>
		</GridLayout>
		<GridLayout class="m-15" rows="auto" columns="50 * 50">
			<Label class="h3" text="15" textWrap="true" row="0" col="0"></Label>
			<Slider #slider3 minValue="15" maxValue="1000" [(ngModel)]="sliderValue3" (valueChange)="sliderValue3 = slider3.value" row="0"
			 col="1"></Slider>
			<Label class="h3" text="1000" textWrap="true" row="0" col="2"></Label>
		</GridLayout>
		<GridLayout class="m-15" rows="auto" columns="50 * 50">
			<Label class="h3" text="0" textWrap="true" row="0" col="0"></Label>
			<Slider #slider4 minValue="0" maxValue="100" [(ngModel)]="sliderValue4" (valueChange)="sliderValue4 = slider4.value" row="0"
			 col="1"></Slider>
			<Label class="h3" text="100" textWrap="true" row="0" col="2"></Label>
		</GridLayout>
		<GridLayout class="m-15" rows="auto" columns="50 * 50">
			<Label class="h3" text="5" textWrap="true" row="0" col="0"></Label>
			<Slider #slider5 minValue="5" maxValue="99" [(ngModel)]="sliderValue5" (valueChange)="sliderValue5 = slider5.value" row="0"
			 col="1"></Slider>
			<Label class="h3" text="99" textWrap="true" row="0" col="2"></Label>
		</GridLayout>

		<Button class="btn btn-primary btn-active" width="90%" text="Review results" (tap)="onTap()"></Button>
		<!-- << slider-values-xml -->
	</StackLayout>
</StackLayout>