<StackLayout exampleTitle toggleNavButton>
    <ScrollView class="example-container">
        <StackLayout #st>
            <!-- >> creating-image-html -->
            <!-- Load image from App_Resources -->
            <Label text="Image loaded from resources" textWrap="true"></Label>
            <Image src="res://icon" stretch="none"></Image>

            <!-- Load image from app/images folder -->
            <Label text="Image loaded from custom folder" textWrap="true"></Label>
            <Image src="~/images/logo.png" stretch="none"></Image>

            <!-- Load image from url -->
            <Label text="Image loaded from URL" textWrap="true"></Label>
            <Image src="https://docs.nativescript.org/angular/img/cli-getting-started/angular/chapter0/NativeScript_Angular_logo.png"
                stretch="none"></Image>

            <!-- << creating-image-html -->
        </StackLayout>
    </ScrollView>
</StackLayout>