/* >> switch-style-css */
.firstSwitchStyle{
    background-color: #FFFF66;
}

.secondSwitchStyle{
    background-color: #CCFFFF;
}

.thirdSwitchStyle{
    opacity: 0.5;
    background-color: #8C489F;
}
/* << switch-style-css */