/* >> switch-style-css */
.secondSwitchStyle{
    color: yellow;
    background-color: green;
    off-background-color: red;
}

.thirdSwitchStyle{
    opacity: 0.8;
    color: darkblue;
    background-color: lightseagreen;
    off-background-color: orangered;
}
/* << switch-style-css */