<StackLayout sdkExampleTitle sdkToggleNavButton class="example-container">
	<!-- >> switch-styling-html -->
	<!-- Styling via inline properties ---->
	<Switch color="yellow" backgroundColor="green" offBackgroundColor="red">
	</Switch>
	<!-- Styling via CSS class (see CSS file) ---->
	<Switch class="m-15 secondSwitchStyle" checked="true">
	</Switch>
	<!-- Applying style & opacity via CSS class ---->
	<Switch class="m-15 thirdSwitchStyle" checked="true">
	</Switch>
	<!-- << switch-styling-html -->
</StackLayout>