<ScrollView exampleTitle toggleNavButton>
    <!-- >> dataentry-signup-html -->
    <StackLayout>
        <Button class="btn btn-outline icon btn-active" (tap)="onFacebookLoginTap()">
            <FormattedString>
                <Span text="&#xea90;" fontSize="18" horizontalAlign="left" foregroundColor="#3B5998"></Span>
                <Span text=" Sign up with " foregroundColor="#3B5998"></Span>
                <Span text="Facebook" fontAttributes="Bold" foregroundColor="#3B5998"></Span>
            </FormattedString>
        </Button>
        <Button class="btn btn-outline icon btn-active" (tap)="onGoogleLoginTap()">
            <FormattedString>
                <Span text="&#xea8b;" fontSize="18" foregroundColor="#d34836" ></Span>
                <Span text=" Sign up with " foregroundColor="#d34836" ></Span>
                <Span text="Google +"  foregroundColor="#d34836" fontAttributes="Bold"></Span>
            </FormattedString>
        </Button>

        <StackLayout class="form">
            <StackLayout class="input-field">
                <Label text="Name" class="label" textWrap="true"></Label>
                <TextField #name hint="Name"text="" class="input input-border" autocorrect="false"></TextField>   
            </StackLayout>
            <StackLayout class="input-field">
                <Label text="Email" class="label" textWrap="true"></Label>
                <TextField #email hint="Email" text="" class="input input-border" autocorrect="false"></TextField>
            </StackLayout>
            <StackLayout class="input-field">
                <Label text="Password" class="label" textWrap="true"></Label>
                <TextField #password hint="Password" text="" [secure]="secureproperty" class="input input-border"autocorrect="false"></TextField>   
            </StackLayout>
  
            <StackLayout orientation="horizontal">
                <Label text="Show password" textWrap="true" class="m-15" verticalAligment="center"></Label>
                <Switch #sw checked="true" (checkedChange)="switchChanged(sw.checked)" class="switch"></Switch>
            </StackLayout>
        </StackLayout>

        <Button text="Sign up" (tap)="signup(name.text, email.text, password.text)" class="btn btn-primary btn-active"></Button>
        <Button text="Forgot password?" (tap)="forgottenpassword()" class="btn btn-primary btn-active"></Button>
    </StackLayout>
    <!-- << dataentry-signup-html -->
</ScrollView>