<StackLayout  exampleTitle toggleNavButton>
    <StackLayout class="example-container">
        <!-- >> switch-view-html -->
        <GridLayout rows="auto auto auto auto" columns="* auto" margin="5">
            <Label [text]="sw1.isEnabled ? 'enabled' : 'disabled'" textWrap="true" row="0" col="0" margin="2"></Label>
            <Switch #sw1 checked="true" (checkedChange)="firstSwitchState=sw1.checked" row="0" col="1"></Switch>
            <Label [text]="sw2.isEnabled ? 'enabled' : 'disabled'" textWrap="true" row="1" col="0" margin="2"></Label>
            <Switch #sw2 checked="false" (checkedChange)="secondSwitchState=sw2.checked" row="1" col="1" ></Switch>
            <Label [text]="sw3.isEnabled ? 'enabled' : 'disabled'" textWrap="true" row="2" col="0" margin="2"></Label>
            <Switch #sw3 checked="true" (checkedChange)="thirdSwitchState=sw3.checked" row="2" col="1"></Switch>   
            <Button text="Disable switches" (tap)="onTap()" row="3" calSpan="2" horizontalAlignment="stretch"></Button>
        </GridLayout>
        <!-- << switch-view-html -->
    </StackLayout>
</StackLayout>