<StackLayout class="form" sdkExampleTitle sdkToggleNavButton>
    <StackLayout class="input-field">
        <Label class="label" text="Username" textWrap="true"></Label>
        <TextField class="input input-border" hint="Enter Username" [(ngModel)]="user" editable="true"></TextField>
    </StackLayout>

    <StackLayout class="input-field">
        <Label class="label" text="Password" textWrap="true"></Label>
        <TextField class="input input-border" hint="Enter Password" [(ngModel)]="pass" secure="true" editable="true"></TextField>
    </StackLayout>

    <Button class="btn btn-primary btn-active" text="Submit" (tap)="submit()"></Button>
    <GridLayout class="bg-primary p-15 m-15" rows="*, *" columns="*" borderRadius="2">
        <Label row="0" class="text-center p-15" text="Data successfully send by user: " [visibility]="isItemVisible ? 'visible' : 'collapsed'" verticalAligment="center" colSpan="2" textWrap="true"></Label>
        <Label row="1" class="h1 text-center p-15" [text]="message" verticalAligment="center" colSpan="2" textWrap="true"></Label>
    </GridLayout>
</StackLayout>