<GridLayout sdkExampleTitle sdkToggleNavButton>
    <!-- >> tab-view-styling-ng-html -->
    <TabView id="tabViewContainer" selectedTabTextColor="purple" tabBackgroundColor="yellow" androidSelectedTabHighlightColor="red">
        <StackLayout *tabItem="{title: 'First Tab', iconSource: 'res://icon', textTransform: 'lowercase'}" >
            <Label text="First Tab" textWrap="true" class="m-15 h2 text-left" color="blue"></Label>
        </StackLayout>
        <StackLayout *tabItem="{title: 'Second Tab', iconSource: 'res://icon', textTransform: 'lowercase'}">
            <Label text="Second Tab" textWrap="true" class="m-15 h2 text-left" color="blue"></Label>
        </StackLayout>
    </TabView>
    <!-- << tab-view-styling-ng-html -->
</GridLayout>
