<!-- >> content-paralax-page-html -->
<ScrollView sdkExampleTitle sdkToggleNavButton  (scroll)="onScroll($event)">
    <FlexboxLayout flexDirection="column">
        <Image #img style.zIndex="1" flexGrow="1" [src]="imageSrc"stretch="fill"></Image>
        <FlexboxLayout #content style.zIndex="2" flexDirection="column">
            <Label flexGrow="1" [text]="title" class="h2 p-l-15 p-r-15 p-t-15" textWrap="true"></Label>
            <Label flexGrow="1" [text]="desc" class="p-15" textWrap="true"></Label>
            <Label flexGrow="1" [text]="desc" class="p-15" textWrap="true"></Label>
            <Label flexGrow="1" [text]="desc" class="p-15" textWrap="true"></Label>
        </FlexboxLayout>
    </FlexboxLayout>
</ScrollView> 
<!-- << content-paralax-page-html -->
