<!-- >> bottom-navigation-events-html-ng -->
<BottomNavigation [selectedIndex]="selectedIndex" (loaded)="onBottomNavLoaded($event)">
        <!-- The bottom tab UI is created via TabStrip (the containier) and TabStripItem (for each tab)-->
        <TabStrip>
            <TabStripItem title="Home" iconSource="res://baseline_home_black_24pt"></TabStripItem>
            <TabStripItem title="Account" iconSource="res://baseline_account_balance_black_24pt"></TabStripItem>
        </TabStrip>

        <!-- The number of TabContentItem components should corespond to the number of TabStripItem components -->
        <TabContentItem>
            <GridLayout rows="*, *">
                <Label row="0" text="Home Page" class="h2 text-center" color="orange"></Label>
                <Label row="1" [text]="selectedIndex" class="h2 text-center"></Label>
            </GridLayout>
        </TabContentItem>
        <TabContentItem>
            <GridLayout rows="*, *">
                    <Label row="0" text="Account Page" class="h2 text-center"></Label>
                    <Label row="1" [text]="selectedIndex"  class="h2 text-center"></Label>
            </GridLayout>
        </TabContentItem>
    </BottomNavigation>
    <!-- << bottom-navigation-events-html-ng  -->